
@using (Html.BeginForm("ExportFile", "WareHouse"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Xuất kho</h4>
        <hr />
        @Html.ValidationMessage("SuccesExportFile", "", new { @class = "text-success" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Export" class="btn btn-primary" />*@
                <button type="submit" value="Export" class="btn btn-primary"><i class="fa fa-file-export"></i>Xuất dữ liệu</button>
            </div>
        </div>
    </div>
}